*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins',sans-serif;


}


ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*section style*/
section{
	width: 100%;
	height: 100vh;
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
	position: relative;
}

/*nav style*/
.header{
	height: 100px;
	background-color: #fff;
	padding: 0px 50px;
	top: 0;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

/* logo style*/

.logo{
	line-height: 40px;
	float: left;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 10px;
	text-decoration: none;
	color: #000;
}

.menu{
	line-height: 70px;
	float: right;

}
.menu a{
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	font-weight: bold;
	transition: 0.5s;
}

.show-menu-btn,
.hide-menu-btn{
	font-size: 30px;
	transition: 0.5s;
	cursor: pointer;
	display: none;

}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
	color: #999999;
}

.show-menu-btn{
	float: right;
	line-height: 100px;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.text-container p:nth-child(1){
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 22px;
}
.text-container p:nth-child(2){
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #000;
	letter-spacing: 1px;
	font-size: 60px;
}

.text-container p:nth-child(3){
	font-family: 'Poppins',sans-serif;
	color: #000;
	font-size: 30px;
	line-height: 30px;

}

.text-container p{
	line-height:0px;
	margin: 45px 0px 25px;
}
.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%,-42%);
}
.text-container button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.hire-btn{
	border: 2px solid #373636;
	color: #000;
}
.down-cv{
	background-color: #0b0b0b;
	color: #fff;
	border: none;
}
button:active{
	transform:scale(1.1);
}

/* add hero image---*/

.hero{
	height: 500px;
	position: absolute;
	bottom: 40px;
	left: 70%;
	transform: translateX(-60%);
}

.about-container{
	width: 80%;
	height: 330px;
	background-color: #f4f4f4;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -3% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;

}
.about-container img{
	height: 250px;

}

.about-text{
	width: 550px;

}
.about-container p:nth-child(1){
	color: #000;
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-container p:nth-child(2){
	color: #000;
	font-size: 13px;
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	line-height: 5px;
}

.about-container p:nth-child(3),
.about-container p:nth-child(4){
	color: #7e7d7d;
	font-family: 'Poppins',sans-serif;
	font-size: 16px
}
.about-text button{
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border:none;
	font-family: 'Poppins',sans-serif;
	background-color: #000000;
}

.services{
	height: 600px;
	background-color: #ffffff;
	padding: 2% 10% 0px 10%;
}

.services-text p{
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
	line-height: 0px;
}
.services-text{
	width: 500px;
	margin: 50px 0px;
}

.box-container{
	display: flex;
	justify-content: space-between;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	border-radius: 10px;


}
.box-1 {
	background-image: url('img/design-img.png');

}

.box-2 {
	background-image: url('img/dev-img.png');
}

.box-3{
	background-image: url('img/seo-img.png');
}

.box-container .content{
	width: 300px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #fff;
	clip-path: circle(50px at 0 0);
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 9px;


}
.box-container .content p{
	position: relative;
	top: 50%;
	left: 50%;
	margin: 0;
	font-size: 18px;
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	color: #000;
	transform: translate(-50%,-50%);
	word-wrap: break-word;
	padding-left: 10px;
}
.box-container .content i{
	position: relative;
	top: 11px;
	left: 15px;
	color: #000;
	opacity: 1;
	transition: all 0.5s;
}
.box-container .content:hover{
	border: 10px;
	clip-path: circle(500px at 0 0);
}
.box-container .content:hover i{
	opacity: 0;
	transform: translateXY(100px);
}
.contact-me{
	width: 100%;
	height: 280px;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-me p{
	color: #fff;
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
	font-weight: bold;
	border-bottom: 2px solid #fff;
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #fff;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;
}

footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer p{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #000;
	line-height: 10px;
}
.social-icons a{
	width: 40px;
	height: 40px;
	background-color: #e6e3e3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 10px;
	border-radius: 50%;

}
.social-icons{
	display: flex;
}
.copyright{
	color: #565555;
	font-size: 13px;
	justify-content: center;

	align-items: center;
	left: 50%;
	bottom: 10px;
	

}

.social-icons i{
	color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
	background-color: #000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition:  all ease 0.5s;
}

.social-icons a:hover i,
.a-social-b a:hover i{
	color: #fff;
	transition: all ease 0.5s;

}

.a-social-b{
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);

}
.a-social-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	line-height: 0;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}


.a-social-b i{
	color: #000;
	font-size: 20px;
}

/*----------------------------------------------------------------*/

@media(max-width:1024px){

	*{
		box-sizing: border-box;
	}

	.hero{
		height: 460px;
		left: 90%;
		transform: translateX(-90%);

	}
	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.text-container p:nth-child(2){
		font-size: 50px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-container p:nth-child(1){
	font-size: 20px;
}
.about-container p:nth-child(2){
	font-size: 12px;

}

.about-container p:nth-child(3),
.about-container p:nth-child(4){
	font-size: 14px
}



	.services{
		padding: 2% 5% 0px 5%;
		height: auto;
	}
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.box-container .content{
		width: 100%;
	}
	.box-container .content:hover{
		clip-path: circle(1000px at 0 0);

	}
	.box-3 {
	background-image: url('img/seo-img1.png');
}
}
@media(max-width:800px){
	section{
		background-image: none;
		background-color: #f7f7f7;}

	.show-menu-btn,
	.hide-menu-btn{
		display: block;
	}
		 .menu{
	 	margin: 0;
		width: 100%;
		height: 100vh;
		background-color: #000;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 1;
		padding: 150px;
		line-height: normal;
		text-align: center;
		transition: 0.7s;
	}
	

	.menu a{
		font-family: 'Poppins',sans-serif;
		font-size: 1.2em;
		text-transform: uppercase;
		color: #fff;
		padding: 20px;
		display: block;

	}
	.menu a:hover{
		color: #ed3;
	}
	.hide-menu-btn{
		position: absolute;
		color: #fff;
		top: 40px;
		right: 40px;
	}

	#chk:checked ~ .menu{
		right: 0;
	}






	.hero{
		display: none;
	}
	.a-social-b{
		display: none;
	}
	.text-container p:nth-child(2){
		font-size: 45px;
		line-height: 40px;
		margin: 0;
		padding: 0;
	}
	.text-container {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}

	.about-container{
		top: 0px;
		flex-direction: column;
		width: 90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width: 90%;
		text-align: center;
	}
	.box-3 {
	background-image: url('img/seo-img.png');
	}
	.box-container .content:hover{
	border: 10px;
	clip-path: circle(550px at 0 0);
	}
	.contact-me{
	height: 180px;
	}
	.contact-me p{
	font-size: 18px;
	}
	.contact-me button{
	width: 150px;
	height: 33px;



}
