@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  background: #262626;
  color: #f5f5f5;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

.header {
  display: block;
  background: #f5f5f5;
  color: #262626;
  text-align: center;
  padding: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.header .logo {
  font-size: 25px;
}

.notice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.notice .text-1 {
  font-size: 50px;
  font-weight: bold;
}

.notice .text-2 {
  font-size: 25px;
}
.social-icon {
  display: inline-block;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  padding: 25px;
  font-size: 20px;
  color: #f5f5f5;
}

footer i {
  transition: 0.5s ease;
  cursor: pointer;
}
footer i:hover {
  transform: scale(1.2);
}

.mentor {
  margin-top: 40px;
}
.mentor span {
  font-weight: bolder;
}

.notice .mentor-btn {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #f5f5f5;
  font-weight: 700;
  transition: 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  color: #262626;
  background: #f5f5f5;
}

.notice .mentor-btn:hover {
  color: #f5f5f5;
  background: none;
  border: 1px solid #f5f5f5;
}
